<h1>Liste des Créneaux</h1>

<%= link_to 'Retour', root_url %><br/>
<%= link_to 'Nouveau Creneau', new_creneau_path %>

<table>
  <tr>
    <th>Nom</th>
    <th>Date</th>
    <th>Bar</th>
    <th>Type</th>
    <th>Distance</th>
    <th>Adresse</th>
    <th>Commentaires</th>
  </tr>

  <% @creneaus.each do |creneau| %>
    <tr>
      <td><%= link_to creneau, creneau %></td>
      <td><%= link_to creneau.date %></td>
      <td><%= link_to creneau.bar %></td>
      <td><%= link_to creneau.type %></td>
      <td><%= creneau.distance %></td>
      <td><%= creneau.adresse %></td>
      <td><%= creneau.commentaires %></td>
    </tr>
  <% end %>
</table>
