<p>
  <strong>Nom:</strong>
  <%= @creneau.nom %>
</p>

<p>
  <strong>Jour:</strong>
  <%= @creneau.jour %>
</p>

<p>
  <strong>PAPS:</strong>
  <%= @creneau.pap %>
</p>

<p>
  <strong>Type:</strong>
  <%= @creneau.genre %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @creneau.distance %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @creneau.adresse %>
</p>

<p>
  <strong>Commentaires:</strong>
  <%= @creneau.commentaires %>
</p>


<%= link_to 'Modifier', edit_creneau_path(@creneau) %><br/>
<%= link_to 'Supprimer', creneau_path(@creneau),
  method: :delete,
  data: { confirm: 'Voulez-vous vraiment supprimer ce creneau ?' } %><br/>
<%= link_to 'retour', creneaus_path %>
