<h1> Modification d'un bar </h1>

<%= form_for @bar do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <%= f.submit class: 'button submit-button radius' %>
<% end %>

<%= link_to 'Retour', bars_path %>
