<h2 class="titre">Nouveau Bar</h1>

<%= form_for :bar, url: bars_path do |f| %>
	<div class="form">
	<% if @bar && @bar.errors.any? %>
		<div id="alert alert-danger">
		<h2>
			Impossible d'enregistrer le bar :
		</h2>
		<ul>
			<% @bar.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
	<div class="row"> 
		<%= f.label :name, :class=>"col-sm-offset-2 col-sm-7"%>
	</div>
	<div class="row espace">
		<div class="col-sm-7 col-sm-offset-2">
			<%= f.text_field :name, :class=>"form-control" %>
		</div>
	</div>

	<div class="row">
		<%= f.submit class: 'btn btn-primary col-sm-2 col-sm-offset-7' %>
	</div>
<% end %>
</div>
<%= link_to 'Retour', bars_path, :class=>"btn btn-link" %>

