<h2>Nouveau Bar</h1>

<%= form_for :bar, url: bars_path do |f| %>
  <% if @bar && @bar.errors.any? %>
    <div id="error_explanation">
      <h2>
        Impossible d'enregistrer le bar :
      </h2>
      <ul>
        <% @bar.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit class: 'button submit-button radius' %>
  </p>
<% end %>

<%= link_to 'Retour', bars_path %>

