<h1>Bar</h1>
<p>
  <strong>Nom:</strong>
  <%= @bar.name %>
</p>
<%= link_to 'Modifier', edit_bar_path(@bar) %> | 
<%= link_to 'Supprimer', bar_path(@bar),
  method: :delete,
  data: { confirm: 'Voulez-vous vraiment supprimer ce bar ?
    Attention, cela supprime tous les n1As appartenant à ce bar !' } %> | 
<%= link_to 'retour', bars_path %>


<%= render partial: 'users/users', object: @bar.users %>
