<h2 class="titre">Liste des créneaux</h2>
<div class="well text-center">
  <p>Pour les preuves des PAPS, envoyez les à <a href="mailto:respoaffprev2015@larez.fr">respoaffprev2015@larez.fr</a> avant <strong>19h00</strong>.</p>
  <p class="espace">Tout retard risque d'entraîner une perte de point, voire une impossibilité de PAPSer le soir.</p>
  <p>Pour ceux PAPSant des cr&eacute;neaux pr&eacute;ventes, pensez &agrave; venir nous voir avec une <strong>bo&icirc;te pouvant servir de caisse</strong>, et <strong>deux chèques de caution</strong> : un de <strong>60euros</strong> pour votre caisse, et un de <strong>720euros</strong>, pour les préventes, tout ça <strong>&agrave; l'ordre de AESG</strong>. Les ch&egrave;ques ne seront bien s&ucirc;r pas encaiss&eacute;s tant que les comptes des bars seront bons.</p>

</div>
<p class="espace">
Ici se trouve la liste des créneaux que votre bar a déjà PAPSé, avec un descriptif plus détaillé.
</p>
<table class="table table-responsive">
  <tr>
    <th>Nom</th>
    <th>Jour</th>
    <th>Type</th>
    <th>Distance</th>
    <th>Adresse</th>
    <th>Commentaires</th>
  </tr>

  <% @bar.paps.each do |pap| %>
    <% pap.creneaus.each do |creneau| %>
      <tr>
        <td><%= creneau %></td>
        <td><%= creneau.jour %></td>
        <td><%= creneau.genre %></td>
        <td><%= creneau.distance %></td>
        <td><%= creneau.adresse %></td>
        <td><%= creneau.commentaires %></td>
      </tr>
    <% end %>
  <% end %>
</table>
