<h1>PAPS</h1>

<% unless @jour %>
  Il n'y a actuellement aucun PAPS en cours, revenez plus tard !
<% else %>
  PAPS pour le <%= @jour %>:<br/>
  <%= @paps.question %>

  <% if @creneaux_affprev %>
    <p>
      Créneaux affichage et préventes (maximum <%=@jour.max_affprev%> par bar):
      <table>
        <tr>
          <th>Nom</th>
          <th>Type</th>
          <th>Distance</th>
        </tr>
      
        <% @creneaux_affprev.each do |creneau| %>
          <tr>
            <td><%= link_to creneau, creneau %></td>
            <td><%= creneau.genre %></td>
            <td><%= creneau.distance %></td>
            <td>
              <% if creneau.bar %>
                <%= creneau.bar %>
              <% else %>
                <% if @paps.can_paps_affprev? %>
                  <%= form_for @tentative do |f| %>
                    <%= f.text_field :contenu %>
                    <%= f.hidden_field :pap_id,     value: @paps.id %>
                    <%= f.hidden_field :user_id,    value: @user.id %>
                    <%= f.hidden_field :creneau_id, value: creneau.id %>
                    <%= f.submit 'PAPSer !' %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </p>
  <% end %>

  <% if @creneaux_commando %>
    <p>
      Créneaux commando :
      <table>
        <tr>
          <th>Nom</th>
          <th>Distance</th>
          <th>Adresse</th>
          <th>Commentaires</th>
        </tr>
      
        <% @creneaux_commando.each do |creneau| %>
          <tr>
            <td><%= link_to creneau, creneau %></td>
            <td><%= creneau.distance %></td>
            <td><%= creneau.adresse %></td>
            <td><%= creneau.commentaires %></td>
          </tr>
        <% end %>
      </table>

    </p>
  <% end %>

<% end %>

