<h1>PAPS</h1>

<% unless @jour %>
  Il n'y a actuellement aucun PAPS en cours, revenez plus tard !
<% else %>
  PAPS pour le <%= @jour %>.

  <% if @creneaux_affprev %>
    <p>
      Créneaux affichage et préventes :
      <table>
        <tr>
          <th>Nom</th>
          <th>Type</th>
          <th>Distance</th>
          <th>Adresse</th>
          <th>Commentaires</th>
        </tr>
      
        <% @creneaux_affprev.each do |creneau| %>
          <tr>
            <td><%= link_to creneau, creneau %></td>
            <td><%= creneau.genre %></td>
            <td><%= creneau.distance %></td>
            <td><%= creneau.adresse %></td>
            <td><%= creneau.commentaires %></td>
          </tr>
        <% end %>
      </table>

    </p>
  <% end %>

  <% if @creneaux_commando %>
    <p>
      Créneaux commando :
      <table>
        <tr>
          <th>Nom</th>
          <th>Distance</th>
          <th>Adresse</th>
          <th>Commentaires</th>
        </tr>
      
        <% @creneaux_commando.each do |creneau| %>
          <tr>
            <td><%= link_to creneau, creneau %></td>
            <td><%= creneau.distance %></td>
            <td><%= creneau.adresse %></td>
            <td><%= creneau.commentaires %></td>
          </tr>
        <% end %>
      </table>

    </p>
  <% end %>

<% end %>

