<%= form_for @jour do |f| %>
  <% if @jour.errors.any? %>
    <div id="alert alert-danger">
      <h2>
        Impossible d'enregistrer le jour :
      </h2>
      <ul>
        <% @jour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-horizontal">
  <div class="form-group">
	  <%= f.label :date, :class=>"col-sm-2 control-label" %>
	  <div class="col-sm-7">
		  <%= f.text_field :date, :class=>"form-control" %>
		</div>
  </div>
  <div class="form-group">
	  <%= f.label :max_affprev, :class=>"col-sm-2 control-label" %>
	  <div class="col-sm-7">
		  <%= f.text_field :max_affprev, :class=>"form-control" %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :max_commandos, :class=>"col-sm-2 control-label" %>
	  <div class="col-sm-7">
		  <%= f.text_field :max_commandos, :class=>"form-control" %>
	  </div>
  </div>
  <div class="form-group">
	  <%= f.label :actif, :class=>"col-sm-2 control-label" %>
	  <div class="col-sm-7">
		  <%= f.select :actif, [['Oui', true], ['Non', false]], :class=>"form-control" %>
	  </div>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary col-sm-offset-7 col-sm-2' %>
    </div>
    </div>
<% end %>

<%= link_to 'Retour', jours_path %>
