<h1>Liste des jours</h1>

<%= link_to 'Retour', root_url %><br/>
<%= link_to 'Nouveau Jour', new_jour_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Max Aff/Prev</th>
    <th>Max commandos</th>
    <th>Actif</th>
  </tr>

  <% @jours.each do |jour| %>
  <tr <% if jour.actif %>class="jour-actif"<% end %>>
      <td><%= link_to jour, jour %></td>
      <td><%= jour.max_affprev %></td>
      <td><%= jour.max_commandos %></td>
      <td><%= jour.actif %></td>
    </tr>
  <% end %>
</table>
