<h1 class="titre">Liste des jours</h1>

<div class="espace">
	<%= link_to 'Nouveau Jour', new_jour_path, :class=>"btn btn-primary" %>
</div>

<table class="table table-striped table-responsive" >
  <tr>
    <th>Date</th>
    <th>Max Aff/Prev</th>
    <th>Max commandos</th>
    <th>Actif</th>
  </tr>

  <% @jours.each do |jour| %>
    <tr <% if jour.actif %>class="success"<% end %>>
      <td><%= link_to jour, jour %></td>
      <td><%= jour.max_affprev %></td>
      <td><%= jour.max_commandos %></td>
      <td><%= jour.actif %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Retour', root_url, :class=>"btn btn-link" %>
