<h1>Nouveau créneau </h1>
Pour le <%= @jour %>

<%= form_for @creneau do |f| %>

  <% if @creneau.errors.any? %>
    <div id="error_explanation">
      <h2>
        Impossible d'enregistrer le créneau :
      </h2>
      <ul>
        <% @creneau.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nom %><br/>
    <%= f.text_field :nom %>
  </p>
  
  <%= hidden_field_tag('creneau[jour_id]', @jour.id) %>

  <p>
    <%= f.label :genre %><br/>
    <%= f.select :genre, ['Affichage', 'Prevente', 'Commando'] %>
  </p>

  <p>
    <%= f.label :distance %><br/>
    <%= f.text_field :distance %>
  </p>
  
  <p>
    <%= f.label :adresse%><br/>
    <%= f.text_field :adresse %>
  </p>
  
  <p>
    <%= f.label :commentaires%><br/>
    <%= f.text_area :commentaires %>
  </p>
  
  <p>
    <%= f.submit class: 'button submit-button radius' %>
  </p>
<% end %> 

<%= link_to 'Retour', creneaus_path %>
