<h1 class="titre">Jour</h1>

<div class="espace">
  <strong>Date:</strong>
  <%= @jour.date %><br/>
  <strong>Créneaux d'affichage/prévente maximum par jour:</strong>
  <%= @jour.max_affprev %><br/>
  <strong>Créneaux commando maximum par jour:</strong>
  <%= @jour.max_commandos %><br/>
  <strong>Actif:</strong>
  <%= @jour.actif %><br/>
</div>

<div class="btn-group espace">
	<%= link_to 'Modifier', edit_jour_path(@jour), :class=>"btn btn-default" %> 
	<%= link_to 'Supprimer', jour_path(@jour), :class=>"btn btn-default",
  method: :delete,
  data: { confirm: 'Voulez-vous vraiment supprimer ce jour ?
    Attention, cela supprime tous les PAPS et créneaux appartenant à ce jour !' } %> 
<%= link_to 'retour', jours_path, :class=>"btn btn-default" %>
  </div>
<div class="espace">
	<h3>PAPS :</h3>
<%= render partial: 'paps/paps', object: @jour.paps %>
</div>
<div class="espace">
	<h3>Créneaux :</h3>
<%= render partial: 'creneaus/creneaus', object: @jour.creneaus %>
</div>
<%= link_to 'retour', jours_path, :class=>"btn btn-link" %>
