<h1>Jour</h1>

<p>
  <strong>Date:</strong>
  <%= @jour.date %><br/>
  <strong>Créneaux d'affichage/prévente maximum par jour:</strong>
  <%= @jour.max_affprev %><br/>
  <strong>Créneaux commando maximum par jour:</strong>
  <%= @jour.max_commandos %><br/>
  <strong>Actif:</strong>
  <%= @jour.actif %><br/>
</p>
<%= link_to 'Modifier', edit_jour_path(@jour) %> | 
<%= link_to 'Supprimer', jour_path(@jour),
  method: :delete,
  data: { confirm: 'Voulez-vous vraiment supprimer ce jour ?
    Attention, cela supprime tous les PAPS et créneaux appartenant à ce jour !' } %> | 
<%= link_to 'retour', jours_path %>
<p>
PAPS :
<%= render partial: 'paps/paps', object: @jour.paps %>
</p>
<% if @jours_restants %>
  <strong>Attention, il reste des jours sans PAPS pour ce jour !</strong><br/>
  <% #link_to 'Nouveau PAPS', newpaps_jour_path(@jour) %>
  (Lien à insérer)
<% end %>
<p>
Créneaux :
<%= render partial: 'creneaus/creneaus', object: @jour.creneaus %>
</p>
