<h1>Jour</h1>

<%= link_to 'retour', jours_path %>
<p>
  <strong>Date:</strong>
  <%= @jour.date %><br/>
  <strong>Créneaux d'affichage/prévente maximum par bar:</strong>
  <%= @jour.max_affprev %><br/>
  <strong>Créneaux commando maximum par bar:</strong>
  <%= @jour.max_commandos %><br/>
</p>
<p>
PAPS :
<%= render partial: 'paps/paps', object: @jour.paps %>
</p>
<% if @bars_restants %>
  <strong>Attention, il reste des bars sans PAPS pour ce jour !</strong>
<% end %>
<p>
Créneaux :
<%= render partial: 'creneaus/creneaus', object: @jour.creneaus %>
</p>
