<meta http-equiv="refresh" content="5"/>

<h1 class="titre">Tentatives pour le <%= @jour %></h1>

<%= link_to 'retour', jour_path(@jour), :class=>"btn btn-link" %>

<table class="table table-striped table-responsive" >
  <tr>
    <th>Bar</th>
    <th>Question</th>
    <th>Solution</th>
    <th>Tentative</th>
    <th>n1A</th>
  </tr>
  <% @tentatives.each do |t| %>
    <tr>
      <td><%= link_to t.pap.bar %></td>
      <td><%= t.pap.question %></td>
      <td><%= t.pap.reponse %></td>
      <td><%= t.contenu %></td>
      <td><%= t.user %></td>
    </tr>
  <% end %>
</table>
