<h1>Page de Login</h1>

<%= link_to 'Retour', root_url %><br/>

<%= form_for :login, url: logins_path do |f| %>
  <% if @user && @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        Impossible de vous connecter :
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, "Login Rézo" %><br>
    <%= f.text_field :name, placeholder: 'prénom.nom' %>
  </p>

  <p>
    <%= f.label :password, "Mot de passe" %><br>
    <%= f.text_field :name, placeholder: 'monmotdepassesécu' %>
  </p>

  <p>
    <%= f.submit "Se connecter"%>
  </p>
<% end %>

<%= link_to 'S\'inscrire', new_n1a_path %>

