<h2>Nouveau PAPS</h1>

<%= form_for :pap, url: paps_path do |f| %>
  <% if @pap && @pap.errors.any? %>
    <div id="error_explanation">
      <h2>
        Impossible d'enregistrer le PAPS :
      </h2>
      <ul>
        <% @pap.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </p>

  <p>
    /!\ Il est possible de metrre plusieurs réponses séparées par des ";", mais attention à <strong>NE PAS METTRE D'ESPACES AVANT OU APRÈS !</strong>
    <%= f.label :reponse %><br>
    <%= f.text_field :reponse %>
  </p>

  <p>
    <%= f.label :bar %><br>
    <%= f.collection_select :bar_id, Bar.order(:name), :id, :name %>
  </p>

  <p>
    <%= f.label :jour %><br>
    <%= f.collection_select :jour_id, Jour.order(:date), :id, :date %>
  </p>

  <p>
    <%= f.submit class: 'button submit-button radius' %>
  </p>
<% end %>

<%= link_to 'Retour', paps_path %>

