<div class="espace">
	<strong>Question:</strong>
	<%= @pap.question %><br/>
	<strong>Réponse:</strong>
	<%= @pap.reponse %><br/>
	<strong>Jour:</strong>
	<%= @pap.jour %><br/>
	<strong>Bar:</strong>
	<%= @pap.bar %><br/>
</div>
<div class="espace btn-group">
	<%= link_to 'Modifier', edit_pap_path(@pap), :class=>"btn btn-default" %>
	<%= link_to 'Supprimer', pap_path(@pap), :class=>"btn btn-default",
		method: :delete,
		data: { confirm: 'Voulez-vous vraiment supprimer ce PAPS ?' } %>
	<%= link_to 'Retour', jour_path(@pap.jour), :class=>"btn btn-default" %>
</div>
